<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset = 'UTF-8'>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Mandarin Classification Neural Network</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .rounded-button {
            width: 60px;
            height: 60px;   
            background: darkslategrey;
            color: slategrey;
        }
    </style>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body class="bg-gray-300 font-sans antialiased">
    <nav class="bg-slate-700 text-slate-200 flex justify-between items-center p-4 shadow-md">
        <div class="flex-grow">
            <h1 class = "text-3xl font-semibold">Home</h1>
        </div>  
    </nav>

    <div class = "flex container mt-10 sm:px-0">
        <div class="max-w-3xl mx-auto p-6 rounded-lg shadow-md text-center bg-slate-200">
            <h1 class ="text-3xl font-bold text-slate-800">
                Mandarin Accent Classifier
            </h1>
            <br>
            <br>

            <h2>
                Speak into the microphone to get your accent classified!
            </h2>
            <div>
                <button id="recordButton" 
                        class="m-4 w-20 h-20 rounded-full items-center justify-center 
                        bg-slate-600 text-white scale-100 transform transition-all 
                        ease-out duration-125 hover:scale-110 active:scale-95" 
                        title="Start/Stop Recording">

                    <ion-icon id="recordIcon" name="mic-outline" style="font-size: 64px;"></ion-icon>
                </button>
                <audio id="audioPlayback" controls class="hidden center"></audio>

            </div>
        </div>
    </div>

    <script type="module" src="https://esm.sh/ionicons@latest/loader"></script>
    <script nomodule src="https://esm.sh/ionicons@latest/loader"></script>
    <script>
        const recordButton = document.getElementById('recordButton');
        const audioPlayback = document.getElementById('audioPlayback');
        const recordIcon = document.getElementById('recordIcon');

        let mediaRecorder;
        let audioChunks = [];
        let isRecording = false;

        recordButton.addEventListener('click', async () => {
            if(!isRecording) {
                try {
                    const stream = await navigator.mediaDevices.getUserMedia({audio: true});
                    mediaRecorder = new MediaRecorder(stream);
                    audioChunks = [];

                    mediaRecorder.ondataavailable = (event) => {
                    audioChunks.push(event.data);
                    };

                    mediaRecorder.onstop = () => {
                        const audioBlob = new Blob(audioChunks, { type: 'audio/wav'});
                        const audioUrl = URL.createObjectURL(audioBlob);
                        audioPlayback.src = audioUrl;
                        audioPlayback.classList.remove("hidden");
                        audioPlayback.load();
                        recordIcon.setAttribute("name", "mic-outline");
                    };

                    mediaRecorder.start();
                    audioPlayback.pause();
                    audioPlayback.classList.add("hidden");
                    isRecording = true;
                    recordIcon.setAttribute("name", "stop-circle-outline");
                } catch (error) {
                    console.error('Error accessing microphone:', error)
                } 
            } else {
                mediaRecorder.stop();
                isRecording = false;
            }
        });         
    </script>    
</body>

</html>